.section {
  padding: 0;
  display: flex;
}
.sidebarWrap {width: 25%;}
.arrowBtn {
  display: none;
  position: relative;
  padding: 20px;
  background: #fff;
  height: 100%;
  svg {
    position: sticky;
    top: 90px;
  }
}

@media (max-width: 800px) {
  .sidebarWrap {display: none;}
  .arrowBtn {display: block;}
}