@import "../../assets/styles/base";

.titleWrap {
  padding: 100px 7px;
  .container {
    display: flex;
    align-items: center;
  }
  .title {
    width: 70%;
    h1 {
      font-weight: bold;
      font-size: 4em;
      color: $primary;
      opacity: 0.7;
      margin-bottom: 25px;
    }
    p {
      width: 50%;
    }
  }
  .img {
    width: 30%;
    img {
      width: 100%;
      opacity: 0.7;
    }
  }
}

.info {
  background: $secondary;
  .features {
    display: flex;
    justify-content: space-around;
    .feature {
      width: 27%;
      h4 {
        margin-bottom: 15px;
      }
    }
  }
}

.top {
  background: #eee;
  .topLinks {
    text-align: center;
    margin: 30px 0;
    a {
      border: 2px solid #d8d8d8;
      color: grey;
      border-radius: 12px;
      padding: 10px 20px;
      margin: 5px;
    }
  }
  .topCourses {
    display: flex;
    flex-wrap: wrap;
    .topCourse {
      width: calc(100% / 3);
      padding: 10px;
      a {
        display: block;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .name {
        padding: 10px;
        background: #fff;
        display: flex;
        margin-top: -5px;
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.packets {
  background: $secondary;
  .topPackets {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .topPacket {
      width: calc(100% / 3);
      padding: 10px;
      a {
        display: block;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .name {
        padding: 10px;
        background: #fff;
        display: flex;
        margin-top: -5px;
        a {
          font-weight: bold;
        }
      }
    }
  }
}

.popular {
  background: $secondary;
  .popularCourses {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .popularCourse {
      width: calc(100% / 3);
      padding: 20px;
      .card {
        padding: 30px 20px;
        background: #fff;
        box-shadow: 0 0 10px #d8d8d8;
        h3 {
          font-weight: bold;
          margin-bottom: 25px;
        }
        a {
          color: #a9a9a9;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
