.coursesBtn {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  img {
    width: 20px;
    margin-right: 7px;
  }
}
.loginWrap {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  a {
    font-weight: bold;
  }
}


@media (max-width: 990px) {
  .coursesBtn {
    order: 1;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .coursesBtn {
    p { display: none; }
  }
}