@import "../../assets/styles/base";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0 0 15px #d8d8d8;
  background: $secondary;
  position: sticky;
  top: 0;
  z-index: 90;
  .left,
  .right {
    display: flex;
    align-items: center;
    // width: 42%;
  }
}
.left {
  padding: 15px;
  .logo {
    width: 150px;
    margin-right: 50px;
    img {
      width: 100%;
    }
  }
  .coursesBtn {
    display: flex;
    align-items: center;
    margin-right: 25px;
    img {
      width: 20px;
      margin-right: 7px;
    }
  }
}
.right {
  justify-content: flex-end;
  ul {
    display: flex;
    align-items: center;
    a {
      position: relative;
      padding: 5px 15px;
      font-size: 1.1em;
      text-align: center;
      &:hover {
        color: $primary;
      }
      &.active {
        color: $primary;
      }
      &.active::after {
        opacity: 1;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 15%;
        width: 70%;
        height: 3px;
        background: $primary;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
  }
  .divider {
    height: 50px;
    width: 1px;
    background: silver;
    margin: 0 10px;
  }
  .langBtn {
    position: relative;
    .langs {
      position: absolute;
      right: 0;
      background: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 10px 0;
      button {
        display: flex;
        border: none;
        outline: none;
        background: none;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
        &:hover {
          background: #ddd;
        }
      }
    }
  }
}
.webSearch, .mobSearch {order: 3;}
.mobSearch {display: none;}

@media (max-width: 990px) {
  .header {
    .left {
      justify-content: space-between;
      width: 100%;
      .logo {
        order: 2;
        margin-right: 0;
      }
      .coursesBtn {
        order: 1;
        margin-right: 0;
      }
    }
    .right {
      display: none;
    }
  }
}
@media (max-width: 500px) {
  .coursesBtn {
    p {
      display: none;
    }
  }
  .webSearch {display: none;}
  .mobSearch {display: block;}
}