@import './assets/styles/base';


.container {
  max-width: 1140px;
  margin: auto;
}
section {
  padding: 60px 5px;
  background-color: $secondary;
}
.minH {min-height: 60vh;}
.mainPageTitle {
  text-align: center;
  h2 {
    color: #838383;
    letter-spacing: 2px;
    font-size: 1.5em;
  }
}
#loader-overlay {
  text-align: center;
}
#lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#lds-ripple div:nth-child(2) {
  animation-delay: -.7s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
