@font-face {
  font-family: 'DinReg';
  src:  url('./assets/fonts/din_pro_regular.otf') format('opentype');
}
@font-face {
  font-family: 'DinBold';
  src:  url('./assets/fonts/din_pro_bold.otf') format('opentype');
}
body {
  font-family: 'DinReg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root, .css-ahj2mt-MuiTypography-root, .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "DinReg" !important;
}
.css-ahj2mt-MuiTypography-root {
  padding-top: 4px;
}
